---
import Gallery from '../components/Gallery.astro';
import Layout from '../layouts/Layout.astro';
import '../style.css';

import axios from "axios";

const API_URL = import.meta.env.VITE_RESUME_API_URL;

let resumeData = [];

async function fetchResumeData() {
  try {
    console.log(API_URL);
    const response = await axios.get(API_URL);

    if (response.data && response.data.data.length > 0) {
     
      resumeData = response.data.data[0].text; // Extracting the text array
      console.log(resumeData)
    }
  } catch (error) {
    console.error("Error fetching resume data:", error);
  }
}

// Fetch data before rendering
await fetchResumeData();
---

<Layout>
  <div id="wrapper">
<section class="main-content resume-page">
    <div class="resume-container">
       <div class="resume-blocks clearfix">
           <div class="resume-blocks">
             <div class="resume-block-first resume-block">
              <ul >
    {resumeData.length > 0 ? (
     
        resumeData.map((item) => (
            
            <li>
                {item.children?.map((child) => 
                    child.bold ? <h4>{child.text}</h4> :<p> {child.text}</p>
                )}
            
            </li>
            
        ))
        
    ) : (
        <p>No resume data found.</p>
    )}
     </ul>
  </div>
  </div>
  </div>
  </div>
  </div>
  </section>
</Layout>


<style>
.resume-block-text{

 font-family:'GillSans', sans-serif;
 font-weight:300;
}
</style>
