<header class="header">
    <div class="logo">

        <h1 class="title"><a href="/">janelle carothers</a></h1>
    </div>
    <div class="logo-text">
        <h3 style="margin-top: 0;">Costume designer + stylist</h3>
    </div>
    
</header>

<style>
header {
    margin: 70px 0px 50px;
}
a {
    color: #444444;
    text-decoration: none;
}
 h1.title {
    font-size: 142px;
    font-family: 'Biloxi';
    line-height: 1;
    margin: 0px;
    text-align: center;
}
.logo-text {
    display: block;
    margin: auto;
    text-align: center;
}
.logo-text h3 {
    text-transform: uppercase;
    font-family: 'GillSans';
    font-size: 30px;
    color: #7d7d7d;
    font-weight: 300;
    margin-top:0;
}
</style>
